<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">eLibrary System</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link" aria-current="page" href="{% url 'catalog:index' %}">Home</a>
          <a class="nav-link" href="{% url 'catalog:book_list' %}">Catalog</a>
            {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'user:profile' username=user.username %}">Profile</a>
            {% endif %}
            {% if user.is_superuser %}
                        <a class="nav-link " href="{% url 'admin:index' %}">Admin Panel</a>
            {% endif %}
        </nav>
    </div>
</header>