{% extends 'base.html' %}
{% block title %}
    Borrow Book
{% endblock title %}
Borrow Book
{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0"
                         src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
                         alt="..." />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">ISBN: {{ book.isbn }}</div>
                    <h1 class="display-5 fw-bolder">{{ book.title }}</h1>
                    <p class="lead" style="height: 200px">{{ book.summary }}</p>
                    <div class="fs-5 mb-5">
                        Genre:
                        {% for genre in book.genre.all %}<span class=" btn btn-outline-secondary btn-lg">{{ genre.name }}</span>{% endfor %}
                    </div>
                    <div class="d-flex">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% for instance in available_books %}
                            <form action="{% url 'catalog:book_borrow' instance.book.id %}"
                                  method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ instance.id }}">
                                <p>{{ instance.book }}</p>
                                <p>{{ instance.book.language.name }}</p>
                                <input type="submit" value="Borrow this book.">
                            </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
