{% extends "base.html" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
        <h1>Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
            {% if user.is_staff %}
                <a href="{% url 'catalog:book_create' %}">Create Book</a>
            {% endif %}
            {% if user.is_authenticated %}
                <p>You are logged in</p>
                <p>Welcome, {{ user.get_username }}</p>
                <a href="{% url 'logout' %}?next={{ request.path }}" >Logout</a>
            {% else %}
                <p>Not logged in</p>
                <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
            {% endif %}
        </p>
      
    {% comment %} <div>
        <h1>HOME PAGE</h1>
        <p>Total Books: {{ num_books }}</p>
        <p>Available: {{ num_instances_available }}</p>
        {% if user.is_staff %}
            <a href="{% url 'catalog:book_create' %}">Create Book</a>
        {% endif %}
        {% if user.is_authenticated %}
            <p>You are logged in</p>
            <p>Welcome, {{ user.get_username }}</p>
            <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
        {% else %}
            <p>Not logged in</p>
            <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
        {% endif %}
    </div> {% endcomment %}
{% endblock content %}
